<!DOCTYPE html>
<html lang="it">
    <head>
        <title>Film</title>

		<meta charset="utf-8">
		<link rel="stylesheet" href="/css/stile.css"/>
	</head>
    
    <!--background-image="/images/sfondo2.png" background-repeat="no-repeat" background-size="cover"-->
    <body background-image="/images/sfondo2.png" background-repeat="no-repeat" background-size="cover">
		<header>
			<ul>
				<li><a href="/">Home</a></li>
				<li><div th:if="${userDetails}">
					<span th:text="${userDetails.username}"></span>
					<a href="/logout">Logout</a>
				</div>
					<div th:unless="${user}">
						<a href="/login">Login</a>
					</div>
				</li>
				<li><a th:href="@{/register}" th:text="Registrati">Registrati</a></li>
			</ul>
	</header>
	<section >
		<img src="/images/logo2.png" width="20%" />
		<h1>Consulta l'archivio</h1>
		<p>
			<a href="indexMovie">Elenco Film</a>
		</p>
		<p>
			<a href="indexArtist">Elenco Artisti</a>
		</p>
	</section>


	</body>
</html>
