<!DOCTYPE html>
<html>
    <head>
        <title>Film</title>
        <link rel="stylesheet" href="/css/stileBELLO.css"/>
        
    </head>
    
    <!--background-image="/images/sfondo2.png" background-repeat="no-repeat" background-size="cover"-->
    <body background-image="/images/sfondo2.png" background-repeat="no-repeat" background-size="cover">
	<div class="all">
		<div class="sx"> </div>
		<div class="centre">
		<img src="/images/logo2.png" width="30%"/>
        <h1> Welcome in MovieArtist store</h1>
 			<div class="center2">
			<div class="film">
            <a href="indexMovie">FILM</a>
			</div>
        	<div class="artist"> 
			<a href="indexArtist">ARTISTI</a>
			</div>
			</div>
			
		</div>
		<div class="dx"> </div>
	</div>
    </body>
</html>
