<!DOCTYPE html>
<html>
	<head>
        <title>Review</title>
        <link rel="stylesheet" href="/css/stile.css" />
    </head>
	<body>
		<header>
			<ul>
				<li><a href="/">Home</a></li>
				<li><div th:if="${userDetails}">
					<span th:text="${userDetails.username}"></span>
					<a href="/logout">Logout</a>
				</div>
					<div th:unless="${user}">
						<a href="/login">Login</a>
					</div>
				</li>
				<li><a th:href="@{/register}" th:text="Registrati">Registrati</a></li>
			</ul>
		</header>
		<section>
		    <img src="/images/logo2.png" width="20%"/>
		    <div th:if="${review}">
				<h2 th:text="${review.title}">Titolo Review</h2>
				<p>Voto: <span th:text="'(' + ${review.vote} + ')'"></span> </p>
				<p>Descrizione: <span th:text="${review.description}"></span></p>
				<p>Autore: <span th:text="${review.writer.name}"></span></p>
		    </div>
		</section>
	</body>
</html>
