<!DOCTYPE html>
<html>
    <head>
        <title>Artista</title>
        <link rel="stylesheet" href="/css/stile.css" />
    </head>
    <body>
        <div><a href="/"><img src="/images/logo2.png" width="10%"/></a></div>
        <div th:if="${artist}">
        <h1 th:text="${artist.name}">Nome artista</h1>
            <li>Cognome: <span th:text="${artist.surname}">Aldo</span></li>
            <li>Nascita: <span th:text=" ${artist.dateOfBirth}">12/4/1992</span></li>
            <li>Nazionalitá: <span th:text="${artist.nationality}">Italia</span></li>
        </div>
        <div th:unless="${artist}">Non esiste</div>
    </body>
</html>
