<!DOCTYPE html>
<html>
    <head>
        <title>Film</title>
        <link rel="stylesheet" href="/css/stile.css" />
    </head>
    <body>
		<div class="sidebar">
			<a href="/indexMovie">Film</a>
			<a href="/indexArtist">Artisti</a>
		</div>
		<div>
          <div><a href="/"><img src="/images/logo2.png" width="10%"/></a></div>
          <div th:if="${movie}">
          <h1 th:text="${movie.title}">Titolo film</h1>
              <h2>Anno: <span th:text="'(' + ${movie.year} + ')'">2000</span></h2>
              
              <div th:each="img : ${movie.images}">
				  <img th:src="'data:image/jpeg;base64,'+${img.getImgData()}">
			  </div>
            
              <div th:if=${movie.director}>
				  <h2>Regista:<span th:text="${movie.director.name}">Antonio Banderas</span></h2>
				  </div>
		
          </div>
		  <div th:unless="${movie.actors}"></div>
		  <ul>
			  	<p>Ecco gli artisti che regitano nel film:</p>	
      	     	<li th:each="artist : ${movie.actors}">
      		       <a th:href="@{'/artists' + '/' + ${artist.id}}"
      		       th:text="${artist.name} + ' (' + ${artist.surname} + ')'">Up! (2000)</a>
    		    </li>
   		   </ul>
   	       
		 <div th:unless="${movie.reviews}"></div>
		 <ul>
			 <p>Ecco le recensioni al film</p>
			 <li th:each="review : ${movie.reviews}">
				 <a th:text="${review.title} + '(' + ${review.vote} + ')"></a>
			 </li>
		 </ul>
		<a th:href="@{'/formNewReview' + '/' + ${movie.id}}">New Review</a>
			
          <div th:unless="${movie}">Non esiste</div>
		</div>
    </body>
</html>
