<!DOCTYPE html>
<html>
    <head>
        <title>Film</title>
        <link rel="stylesheet" href="/css/stile.css"/>
    </head>
    <body>
    <header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><div th:if="${userDetails}">
                <span th:text="${userDetails.username}"></span>
                <a href="/logout">Logout</a>
            </div>
                <div th:unless="${user}">
                    <a href="/login">Login</a>
                </div>
            </li>
            <li><a th:href="@{/register}" th:text="Registrati">Registrati</a></li>
        </ul>
    </header>
    <section>
        <a href="/"><img src="/images/logo2.png" width="10%" class="center"/></a>
        <h2> Aggiorna Film</h2>
        <div th:if="${movie}"></div>
        <h1 th:text="${movie.title}">Titolo film</h1>
        <div>Anno: <span th:text="'(' + ${movie.year} + ')'">2000</span></div>
        <div th:if=${movie.director}>Regista: <span th:text="${movie.director.name}">Antonio Banderas</span>
            <a th:href="@{'/artists'} + '/' + ${movie.director.id}">Vedi regista</a>
        </div>
        <a th:href="@{'/admin/addDirectorToMovie' + '/' + ${movie.id}}"> Aggiorna Regista</a>
        <div><a th:href="@{'/admin/manageActorsMovie' + '/' + ${movie.id}}"> Gestisti Attori Film</a></div>
        <div th:unless="${movie}">Non esiste</div>
    </section>
    </body>
</html>
