<!DOCTYPE html>
<html>  
    <head>
        <title>New Artist</title>
        <link rel="stylesheet" href="/css/stile.css" />
    </head>
    <body>
		<header>
			<ul>
				<li><a href="/">Home</a></li>
				<li><div th:if="${userDetails}">
					<span th:text="${userDetails.username}"></span>
					<a href="/logout">Logout</a>
				</div>
					<div th:unless="${user}">
						<a href="/login">Login</a>
					</div>
				</li>
				<li><a th:href="@{/register}" th:text="Registrati">Registrati</a></li>
			</ul>
		</header>
		<section>
			<img src="/images/logo2.png" width="20%"/>
			<h1>Aggiungi un artista</h1>
			<form th:action="@{/artists}" method="POST" th:object="${artist}">
				<div th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err:${#fields.globalErrors()}"th:text="${err}">...</p>
				</div>
				<div>
					<label for="nome">Name:</label> <span><input type="text" th:field="${artist.name}" id="nome"/></span>
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
				</div>

				<div>
					<label for="Cognome">Surname:</label> <span><input type="text" th:field="${artist.surname}" id="cognome"/></span>
					<span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
				</div>
				<div>
					<label for="data">DateOfBirth:</label><span><input type="date" th:field="${artist.dateOfBirth}" id="data" /></span>
					<span th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></span>
				</div>

				<div>
					<label for="nazionalitá">Nationality:</label> <span><input type="text" th:field="${artist.nationality}" id="nazionalitá" /></span>
				</div>

				<div>
					<span><button type="submit">Conferma</button></span>
				</div>
			</form>
		</section>
  </body>
</html>